body {
	
	padding: 3em;
	margin: auto;
    font-family: sans-serif;
	text-align: center;
	background-image: url('../imagenes/libreria.jpeg');
	background-repeat: no-repeat;
 	background-size: cover;

}
header{
   
}
.letras{
	color: yellow;
}
.row{
	padding: 5em;
}

.contenedorPregunta{
	background-image: url('../imagenes/bubble.png');
	background-repeat: no-repeat;
 	background-size: cover;
	position: absolute;
	bottom: 42%;
	left: 55%;
	right: 0;
	height: 320px;
	padding: 3em;
	width: 650px;
}

.pregunta{
	margin: 1em;
	margin-left: 2em;
}

.numPregunta{
	margin-top: 0.5em;
	margin-right: 0.5em;
}

textarea{
	font-size: 1.5em;
	width:70%;
	resize: none;
}

button{
	margin-top:1em;
	font-size: 2em;
	width:50%;
}



.boton1{
	width: 100%;
	height:100%;
	background-image: url('../imagenes/Libro-pasta-dura.png');
	background-repeat: no-repeat;
 	background-size: contain;
	background-position: center;
	text-decoration: none;
}

.boton1>a{
	color: yellow;
	position: relative;
	top: 45%;
	margin-top: 2em;

}



.boton1:hover{
	color: #000000;
	text-decoration: none;
	background-color: #666666;
	background-blend-mode: screen;
	
}



.limpiar{
	clear: both;
}
.cartas{
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: row;

}

.carta{
	position: absolute;
	height: 220px;
	width: 120px;
	color: yellow;
	background-image: url('../imagenes/Libro-pasta-dura.png');
	background-repeat: no-repeat;
 	background-size: contain;
}
.carta > h2{
	position: absolute;
	height: 220px;
	width: 120px;
	top: 25%;

}
footer {
	padding-top: 20px;
    text-align: center;
}

.btn_probar{
	text-decoration: none;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: white;
    background-color: #9B5094;
    border-radius: 15px;
    
}
.btn_probar:hover
{
    opacity: 0.6;
    text-decoration: none;
}
.btn_datos{
 	text-decoration: none;
 	color: white;
 }

/* CSS RESPUESTAS */
#txtcar{
	padding-left: 50px;
	font-size: 19px;
	color: black;
}